
* {
    box-sizing: border-box
  }
  
  body {
    margin: 0;
    background-color: #ecf0f1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
  }
  
  .holder{
    display: flex;
    /* border: 2px solid red; */
  }

  
  

/* ////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */

  .CoffeeApp{
    /* background:black; */
    box-shadow: 2px 2px 5px rgba(0,0,0,1);
    height: 512px;
    width: 512px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 3%;
    justify-content: center;
    margin-left: 2rem;
  }

  .Input{
    background: rgb(255, 253, 116);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 15px;
  }
  
  .Input2{
    background: lightgray;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
  }

