.calculator {
    background-color: #111;
    height: 400px;
    width: 256px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 3%;
    justify-content: center;
    box-shadow: 7px 10px 15px rgb(0, 0, 0);
    margin: 1rem;
  }
  
  .display {
    background: rgb(61, 61, 61);
    padding: 20px 10px;
    text-align: right;
    position: relative;
    margin-top: 5px;
    width: 95%;
    font-size: 36px;
    color: white;
    height: 70px;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: inset 3px 3px 15px rgb(0, 0, 0)

    
  }
  
  .display small {
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #EE9406;
  }
  .nums-container {
    width: 75%;
  }
  
  .ops-container {
    width: 25%;
  }
  button {
    border-radius: 50%;
    margin: 5px;
    height: 50px;
    width: 50px;
    font-size: 24px;
    /* background-color: white; */
    cursor: pointer;
    border: 3px solid rgb(109, 109, 109);
  }
  
  button.hover {
    opacity: 0.9;
  }

  button:active {
    transform:scale(0.9)
  }

  button:focus {
    outline: none;
  }
  
  button.big-h {
    border-radius: 50px;
    width: 110px;
  }
  
  button.orange {
    background-color: #EE9406;
    color: #fff;
  
  }
  
  button.dark-grey {
    background-color: #323232;
    color: #fff;
  }

  button.dark-grey2 {
    background-color: #323232;
    color: #fff;
    border-radius: 50px;
    width: 110px;
  }

  .btnClear{
    border-radius: 50px;
    width: 110px;
    margin-right: 50%;
  }
